/ContextQuickie.native/contextquickie
/ContextQuickie.native/.vs
/ContextQuickie.native/ContextQuickie.native.vcxproj.user
/ContextQuickie.native/Debug
/ContextQuickie.native/Release
/ContextQuickie.native/x64/Debug
/ContextQuickie.native/x64/Release
