/ContextQuickie.Windows/VisualStudio/*.filters
/ContextQuickie.Windows/Eclipse/bin
/ContextQuickie.Windows/VisualStudio/.vs
/ContextQuickie.Windows/VisualStudio/*.user
/ContextQuickie.Windows/VisualStudio/bin
/ContextQuickie.Windows/VisualStudio/obj
/ContextQuickie.Windows/VisualStudio/contextquickie