/ContextQuickie.native/contextquickie
/ContextQuickie.native/.vs
/ContextQuickie.native/*.vcxproj.user
/ContextQuickie.native/Debug
/ContextQuickie.native/Release
/ContextQuickie.native/x64/Debug
/ContextQuickie.native/x64/Release
/ContextQuickie.TeamProvider.native/contextquickie
/ContextQuickie.TeamProvider.native/.vs
/ContextQuickie.TeamProvider.native/*.vcxproj.user
/ContextQuickie.TeamProvider.native/Debug
/ContextQuickie.TeamProvider.native/Release
/ContextQuickie.TeamProvider.native/x64/Debug
/ContextQuickie.TeamProvider.native/x64/Release
