<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Context Quickie"
            class="contextquickie.preferences.ContextQuickie"
            id="contextquickie.preferences.ContextQuickie">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="contextquickie.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <commandParameterType
            converter="contextquickie.ObjectParameterConverter"
            id="contextquickie.base.AbstractMenuEntry"
            type="contextquickie.base.AbstractMenuEntry">
      </commandParameterType>
      <command
            defaultHandler="contextquickie.CommandHanlder"
            id="ContextQuickie.Command"
            name="ContextQuickie.Command">
         <commandParameter
               id="contextquickie.base.AbstractMenuEntry"
               name="contextquickie.base.AbstractMenuEntry"
               optional="false"
               typeId="contextquickie.base.AbstractMenuEntry">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
         <menuContribution
               locationURI="popup:org.eclipse.ui.popup.any?before=additions">
            <separator
                  name="ContextQuickie.SeparatorBeforeBeyondCompare"
                  visible="true">
            </separator>
            <dynamic
                  class="contextquickie.beyondcompare.MenuBuilder"
                  id="BeyondCompare">
            </dynamic>
            <separator
                  name="ContextQuickie.SeparatorBeforeTortoiseSvn"
                  visible="true">
            </separator>
            <dynamic
                  class="contextquickie.tortoise.svn.TortoiseSvnMenuBuilder"
                  id="contextquickie.handlers.tortoise.svn.TortoiseSvnMenuBuilder">
            </dynamic>
            <separator
                  name="ContextQuickie.SeparatorBeforeTortoiseGit"
                  visible="true">
            </separator>
            <dynamic
                  class="contextquickie.tortoise.git.TortoiseGitMenuBuilder"
                  id="contextquickie.handlers.tortoise.git.TortoiseGitMenuBuilder">
            </dynamic>
            <separator
                  name="ContextQuickie.SeparatorBeforeTortoiseHg"
                  visible="true">
            </separator>
            <dynamic
                  class="contextquickie.tortoise.hg.TortoiseHgMenuBuilder"
                  id="contextquickie.handlers.tortoise.git.TortoiseHgMenuBuilder">
            </dynamic>
         </menuContribution>
   </extension>
</plugin>
