<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Context Quickie"
            class="contextquickie.preferences.ContextQuickie"
            id="contextquickie.preferences.ContextQuickie">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="contextquickie.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="contextquickie.handlers.beyondcompare.Compare"
            id="ContextQuickie.commands.BeyondCompare.Compare"
            name="ContextQuickie.commands.BeyondCompare.Compare">
         <commandParameter
               id="LeftSide"
               name="LeftSide"
               optional="false">
         </commandParameter>
         <commandParameter
               id="RightSide"
               name="RightSide"
               optional="false">
         </commandParameter>
      </command>
      <command
            defaultHandler="contextquickie.handlers.beyondcompare.SelectLeftSide"
            id="ContextQuickie.commands.BeyondCompare.SelectLeftSide"
            name="ContextQuickie.commands.BeyondCompare.SelectLeftSide">
         <commandParameter
               id="Path"
               name="Path"
               optional="false">
         </commandParameter>
      </command>
      <command
            defaultHandler="contextquickie.handlers.tortoise.svn.TortoiseSvnCommand"
            id="ContextQuickie.commands.TortoiseSvn.TortoiseSvnCommand"
            name="TortoiseSvnCommand">
         <commandParameter
               id="CommandId"
               name="CommandId"
               optional="false">
         </commandParameter>
         <commandParameter
               id="RequiresPath"
               name="RequiresPath"
               optional="false">
         </commandParameter>
         <commandParameter
               id="Parameter1"
               name="Parameter1"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="contextquickie.handlers.tortoise.svn.TortoiseSvnMergeCommand"
            id="ContextQuickie.commands.TortoiseSvn.TortoiseSvnMergeCommand"
            name="TortoiseSvnMergeCommand">
      </command>
      <command
            defaultHandler="contextquickie.handlers.tortoise.svn.TortoiseSvnDiffTwoFilesCommand"
            id="ContextQuickie.commands.TortoiseSvn.TortoiseSvnDiffTwoFilesCommand"
            name="TortoiseSvnDiffTwoFilesCommand">
      </command>
      <command
            defaultHandler="contextquickie.handlers.tortoise.git.TortoiseGitCommand"
            id="ContextQuickie.commands.TortoiseGit.TortoiseGitCommand"
            name="TortoiseGitCommand">
         <commandParameter
               id="ContextQuickie.commands.TortoiseGit.TortoiseGitCommand.CommandID"
               name="CommandID"
               optional="false">
         </commandParameter>
         <commandParameter
               id="ContextQuickie.commands.TortoiseGit.TortoiseGitCommand.RequiresPath"
               name="RequiresPath"
               optional="false">
         </commandParameter>
         <commandParameter
               id="ContextQuickie.commands.TortoiseGit.TortoiseGitCommand.Parameter1"
               name="Parameter1"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="contextquickie.handlers.tortoise.git.TortoiseGitMergeCommand"
            id="ContextQuickie.commands.TortoiseGit.TortoiseGitMergeCommand"
            name="TortoiseGitMergeCommand">
      </command>
      <command
            defaultHandler="contextquickie.handlers.tortoise.git.TortoiseGitDiffTwoFilesCommand"
            id="ContextQuickie.commands.TortoiseGit.TortoiseGitDiffTwoFilesCommand"
            name="TortoiseGitDiffTwoFilesCommand">
      </command>
      <command
            defaultHandler="contextquickie.handlers.tortoise.hg.TortoiseHgCommand"
            id="ContextQuickie.commands.TortoiseHg.TortoiseHgCommand"
            name="TortoiseHgCommand">
         <commandParameter
               id="ContextQuickie.commands.TortoiseHg.TortoiseHgCommand.CommandID"
               name="CommandID"
               optional="false">
         </commandParameter>
         <commandParameter
               id="ContextQuickie.commands.TortoiseHg.TortoiseHgCommand.RequiresPath"
               name="RequiresPath"
               optional="false">
         </commandParameter>
         <commandParameter
               id="ContextQuickie.commands.TortoiseHg.TortoiseHgCommand.Parameter1"
               name="Parameter1"
               optional="true">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
         <menuContribution
               locationURI="popup:org.eclipse.ui.popup.any?before=additions">
            <separator
                  name="ContextQuickie.SeparatorBeforeBeyondCompare"
                  visible="true">
            </separator>
            <dynamic
                  class="contextquickie.handlers.beyondcompare.MenuBuilder"
                  id="BeyondCompare">
            </dynamic>
            <separator
                  name="ContextQuickie.SeparatorBeforeTortoiseSvn"
                  visible="true">
            </separator>
            <dynamic
                  class="contextquickie.handlers.tortoise.svn.TortoiseSvnMenuBuilder"
                  id="contextquickie.handlers.tortoise.svn.TortoiseSvnMenuBuilder">
            </dynamic>
            <separator
                  name="ContextQuickie.SeparatorBeforeTortoiseGit"
                  visible="true">
            </separator>
            <dynamic
                  class="contextquickie.handlers.tortoise.git.TortoiseGitMenuBuilder"
                  id="contextquickie.handlers.tortoise.git.TortoiseGitMenuBuilder">
            </dynamic>
            
         </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
   </extension>
</plugin>
