<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Context Quickie"
            class="contextquickie.preferences.ContextQuickie"
            id="contextquickie.preferences.ContextQuickie">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="contextquickie.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="contextquickie.handlers.beyondcompare.Compare"
            id="ContextQuickie.commands.Compare"
            name="Compare">
      </command>
      <command
            defaultHandler="contextquickie.handlers.beyondcompare.SelectLeftSide"
            id="ContextQuickie.commands.selectLeftSide"
            name="SelectLeftSide">
      </command>
      <command
            defaultHandler="contextquickie.handlers.beyondcompare.CompareToRight"
            id="ContextQuickie.commands.compareToRight"
            name="CompareToRight">
      </command>
      <command
            defaultHandler="contextquickie.handlers.tortoisesvn.Update"
            id="ContextQuickie.commands.TortoiseSVN.Update"
            name="Update">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
         <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=group.open">
            <command
                  commandId="ContextQuickie.commands.Compare"
                  icon="icons/Compare.png"
                  label="Compare"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeMenuSelection">
                     <and>
                        <count
                              value="2">
                        </count>
                        <test
                              property="contextquickie.propertyHandlers.CompareAllowed">
                        </test>
                     </and>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="ContextQuickie.commands.selectLeftSide"
                  icon="icons/SelectLeftFile.png"
                  label="Select Left File"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeMenuSelection">
                     <iterate
                           ifEmpty="true"
                           operator="or">
                        <or>
                           <adapt
                                 type="org.eclipse.core.resources.IFile">
                           </adapt>
                        </or>
                     </iterate>
                     <count
                           value="1">
                     </count>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="ContextQuickie.commands.selectLeftSide"
                  icon="icons/SelectLeftFile.png"
                  label="Select Left Folder"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeMenuSelection">
                     <iterate
                           ifEmpty="true"
                           operator="or">
                        <or>
                           <adapt
                                 type="org.eclipse.core.resources.IFolder">
                           </adapt>
                           <adapt
                                 type="org.eclipse.core.resources.IProject">
                           </adapt>
                        </or>
                     </iterate>
                     <count
                           value="1">
                     </count>
                  </with>
               </visibleWhen>
            </command>
            <dynamic
                  class="contextquickie.handlers.beyondcompare.CompareToRightDynamic"
                  id="ContextQuickie.CompareToRightDynamic">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeMenuSelection">
                     <iterate
                           ifEmpty="true"
                           operator="or">
                        <or>
                           <adapt
                                 type="org.eclipse.core.resources.IFolder">
                           </adapt>
                           <adapt
                                 type="org.eclipse.core.resources.IProject">
                           </adapt>
                           <adapt
                                 type="org.eclipse.core.resources.IFile">
                           </adapt>
                        </or>
                     </iterate>
                     <count
                           value="1">
                     </count>
                  </with>
               </visibleWhen>
            </dynamic>
            <separator
                  name="Separator"
                  visible="true">
            </separator>
            <menu
                  label="Tortoise SVN">
               <command
                     commandId="ContextQuickie.commands.TortoiseSVN.Update"
                     label="Update"
                     style="push">
               </command>
            </menu>
         </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="contextquickie.handlers.beyondcompare.CompareAllowed"
            id="contextquickie.propertyHandlers.CompareAllowed"
            namespace="contextquickie.propertyHandlers"
            properties="CompareAllowed"
            type="java.lang.Object">
      </propertyTester>
   </extension>
</plugin>
