<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Context Quickie"
            class="contextquickie.preferences.ContextQuickie"
            id="contextquickie.preferences.ContextQuickie">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="contextquickie.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="contextquickie.handlers.beyondcompare.Compare"
            id="ContextQuickie.commands.Compare"
            name="Compare">
      </command>
      <command
            defaultHandler="contextquickie.handlers.beyondcompare.SelectLeftSide"
            id="ContextQuickie.commands.selectLeftSide"
            name="SelectLeftSide">
      </command>
      <command
            defaultHandler="contextquickie.handlers.beyondcompare.CompareToRight"
            id="ContextQuickie.commands.compareToRight"
            name="CompareToRight">
      </command>
      <command
            defaultHandler="contextquickie.handlers.tortoise.svn.TortoiseSvnCommand"
            id="ContextQuickie.commands.TortoiseSVN.TortoiseSVNCommand"
            name="TortoiseSVNCommand">
         <commandParameter
               id="CommandId"
               name="CommandId"
               optional="false">
         </commandParameter>
         <commandParameter
               id="RequiresPath"
               name="RequiresPath"
               optional="false">
         </commandParameter>
         <commandParameter
               id="Parameter1"
               name="Parameter1"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="contextquickie.handlers.tortoise.git.TortoiseGitCommand"
            id="ContextQuickie.commands.TortoiseGit.TortoiseGitCommand"
            name="TortoiseGitCommand">
         <commandParameter
               id="ContextQuickie.commands.TortoiseGit.TortoiseGitCommand.CommandID"
               name="CommandID"
               optional="false">
         </commandParameter>
         <commandParameter
               id="ContextQuickie.commands.TortoiseGit.TortoiseGitCommand.RequiresPath"
               name="RequiresPath"
               optional="false">
         </commandParameter>
         <commandParameter
               id="ContextQuickie.commands.TortoiseGit.TortoiseGitCommand.Parameter1"
               name="Parameter1"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="contextquickie.handlers.tortoise.svn.TortoiseSvnMergeCommand"
            id="ContextQuickie.commands.TortoiseSVN.TortoiseSVNMergeCommand"
            name="TortoiseSVNMergeCommand">
      </command>
      <command
            defaultHandler="contextquickie.handlers.tortoise.git.TortoiseGitMergeCommand"
            id="ContextQuickie.commands.TortoiseGit.TortoiseGitMergeCommand"
            name="TortoiseGitMergeCommand">
      </command>
      <command
            defaultHandler="contextquickie.handlers.tortoise.svn.TortoiseSvnDiffTwoFilesCommand"
            id="ContextQuickie.commands.TortoiseSVN.TortoiseSvnDiffTwoFilesCommand"
            name="TortoiseSvnDiffTwoFilesCommand">
      </command>
      <command
            defaultHandler="contextquickie.handlers.tortoise.git.TortoiseGitDiffTwoFilesCommand"
            id="ContextQuickie.commands.TortoiseGit.TortoiseGitDiffTwoFilesCommand"
            name="TortoiseGitDiffTwoFilesCommand">
      </command>
      <command
            defaultHandler="contextquickie.handlers.tortoise.git.TortoiseGitCommand"
            id="ContextQuickie.commands.TortoiseHg.TortoiseHgCommand"
            name="TortoiseHgCommand">
         <commandParameter
               id="ContextQuickie.commands.TortoiseHg.TortoiseHgCommand.CommandID"
               name="CommandID"
               optional="false">
         </commandParameter>
         <commandParameter
               id="ContextQuickie.commands.TortoiseHg.TortoiseHgCommand.RequiresPath"
               name="RequiresPath"
               optional="false">
         </commandParameter>
         <commandParameter
               id="ContextQuickie.commands.TortoiseHg.TortoiseHgCommand.Parameter1"
               name="Parameter1"
               optional="true">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
         <menuContribution
               locationURI="popup:org.eclipse.ui.popup.any?before=additions">
            <separator
                  name="SeparatorBeforeBeyondCompare"
                  visible="true">
            </separator>
            <command
                  commandId="ContextQuickie.commands.Compare"
                  icon="icons/BeyondCompare/Compare.png"
                  label="Compare"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeMenuSelection">
                     <and>
                        <test
                              args="activeMenuEditorInput"
                              property="contextquickie.propertyHandlers.BeyondCompareEnabled">
                        </test>
                        <count
                              value="2">
                        </count>
                        <or>
                           <iterate>
                              <test
                                    property="contextquickie.handlers.beyondcompare.SelectedResourceTester"
                                    value="IResource.FILE">
                              </test></iterate>
                           <iterate>
                              <or>
                                 <test
                                       property="contextquickie.handlers.beyondcompare.SelectedResourceTester"
                                       value="IResource.FOLDER">
                                 </test>
                                 <test
                                       property="contextquickie.handlers.beyondcompare.SelectedResourceTester"
                                       value="IResource.PROJECT">
                                 </test>
                              </or>
                           </iterate>
                        </or>
                     </and>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="ContextQuickie.commands.selectLeftSide"
                  icon="icons/BeyondCompare/SelectLeftFile.png"
                  label="Select Left File"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <and>
                     <test
                           args="activeFocusControl"
                           property="contextquickie.propertyHandlers.BeyondCompareEnabled">
                     </test>
                     <or>
                        <reference
                              definitionId="ActivePartIsEditorAndProvidesFile">
                        </reference>
                        <reference
                              definitionId="ActiveMenuSelectionProvidesOneFile">
                        </reference>
                     </or>
                  </and>
               </visibleWhen>
            </command>
            <command
                  commandId="ContextQuickie.commands.selectLeftSide"
                  icon="icons/BeyondCompare/SelectLeftFile.png"
                  label="Select Left Folder"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <and>
                     <test
                           property="contextquickie.propertyHandlers.BeyondCompareEnabled">
                     </test>
                     <reference
                           definitionId="ActiveMenuSelectionProvidesOneFolder">
                     </reference>
                  </and>
               </visibleWhen>
            </command>
            <dynamic
                  class="contextquickie.handlers.beyondcompare.CompareToRightDynamic"
                  id="ContextQuickie.CompareToRightDynamic">
               <visibleWhen
                     checkEnabled="false">
                  <and>
                     <test
                           property="contextquickie.propertyHandlers.BeyondCompareEnabled">
                     </test>
                     <or>
                        <and>
                           <or>
                              <reference
                                    definitionId="ActivePartIsEditorAndProvidesFile">
                              </reference>
                              <reference
                                    definitionId="ActiveMenuSelectionProvidesOneFile">
                              </reference>
                           </or>
                           <test
                                 property="contextquickie.propertyHandlers.BeyondCompare.CompareToRightPossible"
                                 value="File">
                           </test>
                        </and>
                        <and>
                           <reference
                                 definitionId="ActiveMenuSelectionProvidesOneFolder">
                           </reference>
                           <test
                                 property="contextquickie.propertyHandlers.BeyondCompare.CompareToRightPossible"
                                 value="Directory">
                           </test>
                        </and></or>
                  </and>
               </visibleWhen>
            </dynamic>
            
         </menuContribution>
         <menuContribution
               allPopups="false"
               locationURI="popup:org.eclipse.ui.popup.any?before=additions">
            <separator
                  name="SeparatorBeforeTortoiseSVN"
                  visible="true">
            </separator>
            <dynamic
                  class="contextquickie.handlers.tortoise.svn.TortoiseSvnMenuBuilder"
                  id="contextquickie.handlers.tortoise.svn.TortoiseSvnMenuBuilder">
            </dynamic>
         </menuContribution>
         <menuContribution
               locationURI="popup:org.eclipse.ui.popup.any?before=additions">
            <separator
                  name="SeparatorBeforeTortoiseGit"
                  visible="true">
            </separator>
         </menuContribution>
         <menuContribution
               locationURI="popup:org.eclipse.ui.popup.any?before=additions">
            <separator
                  name="SeparatorBeforeTortoiseHg"
                  visible="true">
            </separator>
            <command
                  commandId="ContextQuickie.commands.TortoiseHg.TortoiseHgCommand"
                  icon="icons/Tortoise/menucommit.png"
                  label="Hg Commit..."
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="TortoiseHgPossibleAtCurrentItem">
                  </reference>
               </visibleWhen>
               <parameter
                     name="ContextQuickie.commands.TortoiseGit.TortoiseGitCommand.CommandID"
                     value="commit">
               </parameter>
               <parameter
                     name="ContextQuickie.commands.TortoiseGit.TortoiseGitCommand.RequiresPath"
                     value="true">
               </parameter>
            </command>
         </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="contextquickie.handlers.beyondcompare.BeyondCompareEnabled"
            id="contextquickie.propertyHandlers.BeyondCompareEnabled"
            namespace="contextquickie.propertyHandlers"
            properties="BeyondCompareEnabled"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="contextquickie.handlers.beyondcompare.CompareToRightPossible"
            id="contextquickie.propertyHandlers.BeyondCompare.CompareToRightPossible"
            namespace="contextquickie.propertyHandlers.BeyondCompare"
            properties="CompareToRightPossible"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="contextquickie.handlers.beyondcompare.SelectedResourceTester"
            id="contextquickie.handlers.beyondcompare.SelectedResourceTester"
            namespace="contextquickie.handlers.beyondcompare"
            properties="SelectedResourceTester"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="ActivePartIsEditorAndProvidesFile">
         <and>
            <with
                  variable="activeMenuSelection">
               <instanceof
                     value="org.eclipse.jface.text.TextSelection">
               </instanceof>
            </with>
            <with
                  variable="activePartId">
               <not>
                  <or>
                     <equals
                           value="org.eclipse.ui.console.ConsoleView">
                     </equals>
                  </or>
               </not>
            </with>
         </and>
      </definition>
      <definition
            id="ActiveMenuSelectionProvidesOneFile">
         <with
               variable="activeMenuSelection">
            <count
                  value="1">
            </count>
            <iterate>
               <test
                     property="contextquickie.handlers.beyondcompare.SelectedResourceTester"
                     value="IResource.FILE">
               </test>
            </iterate>
         </with>
      </definition>
      <definition
            id="ActiveMenuSelectionProvidesOneFolder">
         <with
               variable="activeMenuSelection">
            <and>
               <count
                     value="1">
               </count>
               <iterate>
                  <or>
                     <test
                           property="contextquickie.handlers.beyondcompare.SelectedResourceTester"
                           value="IResource.FOLDER">
                     </test>
                     <test
                           property="contextquickie.handlers.beyondcompare.SelectedResourceTester"
                           value="IResource.PROJECT">
                     </test>
                  </or>
               </iterate>
            </and>
         </with>
      </definition>
      <definition
            id="ActiveMenuSelectionProvidesOnlyFolders">
         <with
               variable="activeMenuSelection">
            <and>
               <iterate>
                  <or>
                     <test
                           property="contextquickie.handlers.beyondcompare.SelectedResourceTester"
                           value="IResource.FOLDER">
                     </test>
                     <test
                           property="contextquickie.handlers.beyondcompare.SelectedResourceTester"
                           value="IResource.PROJECT">
                     </test>
                  </or>
               </iterate>
            </and>
         </with>
      </definition>
      <definition
            id="OneFolderSelectedInGitWorkingCopy">
         <and>
            <reference
                  definitionId="TortoiseGitPossibleAtCurrentItem">
            </reference>
            <reference
                  definitionId="ActiveMenuSelectionProvidesOneFolder">
            </reference>
         </and>
      </definition>
      <definition
            id="ActiveMenuSelectionProvidesTwoFiles">
         <with
               variable="activeMenuSelection">
            <count
                  value="2">
            </count>
            <iterate>
               <test
                     property="contextquickie.handlers.beyondcompare.SelectedResourceTester"
                     value="IResource.FILE">
               </test>
            </iterate>
         </with>
      </definition>
   </extension>
</plugin>
